.userBox {
    margin: auto;
    background-color: rgb(110, 97, 97);
    width: 320px;
    border-radius: 6px;
    padding: 12px 0px;
    margin-bottom: 6px;
}

#name {
    font-weight: bold;
    padding-bottom: 2px;
}

#email {
    color: rgb(37, 37, 37);
    font-size: 14px;
}